{
	"Test_Key" = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6IjIyNSIsIklzQWRtaW4iOiJUcnVlIiwibmJmIjoxNzM2MjY0NjkzLCJleHAiOjE3Mzg4NTY2OTMsImlhdCI6MTczNjI2NDY5M30.uEgKhU00eS3WFnaCLJPN7SF0ttAtQc136HW-0Nh0lqY";
	"Test_Password" = "Schiller123!";
	"Test_Email" = "phillip.loacker@aitronos.com";
}