{
	"Test_Key" = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6IjIyNSIsIklzQWRtaW4iOiJUcnVlIiwibmJmIjoxNzMyMDIxMDAxLCJleHAiOjE3MzQ2MTMwMDEsImlhdCI6MTczMjAyMTAwMX0.ymEW3XO-ApE-I51YpmLThPoYyT1SNppRvrm8z7IJB28";
	"Test_Password" = "Schiller123!";
	"Test_Email" = "phillip.loacker@aitronos.com";
}