{
	"Test_Key" = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6IjIyNSIsIklzQWRtaW4iOiJUcnVlIiwibmJmIjoxNzQyMDU5MDA3LCJleHAiOjE3NDI0OTEwMDcsImlhdCI6MTc0MjA1OTAwN30.SQ0guP1UF2Vk1OwG8Nncdk0pcbydyU3EIostIR8mQWU";
	"Test_Password" = "Schiller123!";
	"Test_Email" = "phillip.loacker@aitronos.com";
}